@using System.Web.Optimization
@using OnlinerNotifier.Enums
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="onlinerNotifier">
<head>
    <meta name="viewport" content="width=device-width"/>
    <base href="/">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/site")
    <title>Index</title>
</head>
<body>
<div ng-view>
</div>

    @{
        switch (ToastNotificationsConfig.ProviderType)
        {
            case ToastNotificationProviderType.SignalR:
                ViewBag.NotificationsModule = "signalRToastNotifications";
                break;
            case ToastNotificationProviderType.NetMQ:
                ViewBag.NotificationsModule = "netMQToastNotifications";
                break;
        }
        <script>var notificationModule = '@ViewBag.NotificationsModule'</script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ng-infinite-scroll")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/app")

    @{
        switch (ToastNotificationsConfig.ProviderType)
        {
            case ToastNotificationProviderType.SignalR:
                @Scripts.Render("~/bundles/SignalR");
                <script src="~/signalr/hubs"></script>
                break;
            case ToastNotificationProviderType.NetMQ:
                @Scripts.Render("~/bundles/NetMQ");
                break;
        }
    }
</body>
</html>
